.TextEditorContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 98vw;
  background-color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .TextEditorContainer {
    width: 70vw;
    max-width: 70em;
  }
}