.TextEditorToolBarActionLink {
  position: relative;
}

.TextEditorToolBarActionLink_input-wrapper {
  position: absolute;
  left: -100%;
}

.TextEditorToolBarActionLink_input-wrapper input {
  outline: none !important;
  border: 1px solid #000000;
  box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 16%);
  border-radius: 4px;
  padding: 0.5em;
}

.TextEditorToolBarActionLink_input-wrapper:before {
  position: absolute;
  top: -15px;
  left: 50%;
  content: '';
  border-style: solid;
  display: block;
  width: 0;
  height: 0;
  margin-left: -14px;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
  border-left: 8px solid transparent;
}